.header{
    display:flex;
    justify-content:space-around;
   
    background-color:#1F2937;
    font-size:24px;
    align-items:center;
    color:#F9FAF8

}

ul{
    display:flex;
    list-style-type: none;
    gap:16px;
    font-size:18px;
    color:#E5E7EB
}
.header-two{
    display:flex;
    background-color: #1F2937;
    justify-content: space-around;
    flex-direction:column;
    padding:40px;
    flex-shrink:1;
}

.big{
    font-size:48px;
    color:#F9FAF8;
   display:flex;
   align-self:baseline;
    
}
.small{
    font-size:18px;
    color:#E5E7EB;
 
}
.photo{
    display:flex;
    align-self:flex-end;
    align-content:center;
    display:flex;
    margin-right:20%;
    flex-shrink:1;
    
}
img{
    height:300px;
    width:500px;
}
button{
   max-width:fit-content;
   background-color:#3882F6;
}
.header-three{
    display:flex;
    font-size:36px;
    color:#1F2937;
    justify-content:center;
    padding-top:40px;
}
.image-text img{
    width:150px;
    height:100px;
    border:solid blue 4px;
}
.container-two{
    display:flex;
    justify-content:space-around;
    padding-top:100px;
    align-content:center;
    padding-bottom:100px;
}
.image-text{
    display:flex;
    justify-content:space-around;
    flex-direction: column;
}
 
.container-three{
    display:flex;
    background-color:#E5E7EB;
    font-size:36px;
    padding:200px;
}